---
interface Props {
    title: string;
    price: string;
    class?: string;
}

import FancyHeader from '@c/elements/FancyHeader.astro';

const { title, price, class: _class = "" } = Astro.props;

const [outer_class, inner_class, picture_class, text_class] = _class.split('|');
---

<div class=`w-full   aspect-[21/9] ${outer_class}`>
    <div class=`bg-space-950
                @container
                grid
                grid-rows-[auto_1fr]
                grid-cols-2
                gap-4
                p-4
                w-full
                min-h-full
                shadow-xl
                shadow-[#00000088]
                outline
                outline-1
                outline-space-800
                ${inner_class}
                `> 
        <FancyHeader class="text-fc-[1.5rem_5cqw_3rem] mb-3 mt-0 ml-auto border-none row-start-1 col-start-1 col-span-2">
            {title}
        </FancyHeader>
        <!-- <h2 class=`mb-3 text-fc-[1.5rem_5cqw_3rem] font-black`>
            {title}
        </h2> -->
        <div class="
                relative
                col-span-2
                @sm:row-start-1
                @sm:row-span-2
                @sm:col-start-1
                @sm:col-span-1
                grid
            ">
            <div 
                class="absolute   aspect-square   w-full max-w-[15rem] bg-white  self-center justify-self-center"
                style="clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); "> </div>
            <picture
                class=` block aspect-square  w-full max-w-[15rem] bg-black justify-self-center self-center ${picture_class}`
                style="clip-path: polygon(50% 2%, 98% 50%, 50% 98%, 2% 50%); ">
            </picture>
        </div>

        <div class="
            grid
            grid-rows-[3fr_auto]
            h-full
            @sm:col-start-2
            @sm:col-span-1
            col-start-1
            col-span-2
        ">
            <section class=`${text_class}`>
                <slot/>
            </section>
            <div class="ml-auto w-fit text-xl p-2 ">
                {price}
            </div>
        </div>
    </div>
</div>