---
interface Props {
    slug: string;
    class?: string;
}

import { twMerge } from 'tailwind-merge';

import FancyHeader from '@c/elements/FancyHeader.astro';
import { getEntryBySlug } from 'astro:content';

const { slug, class: _class = '' } = Astro.props;

const entry = await getEntryBySlug('services', slug);
// @ts-ignore
const { Content } = await entry.render();

const [outer_class, inner_class, picture_class, text_class] = _class.split('|');

const status_color =
    entry?.data.status == 'open'
        ? 'text-green-500'
        : entry?.data.status == 'closed'
        ? 'text-red-500'
        : entry?.data.status == 'waitlist'
        ? 'text-yellow-500'
        : 'text-pink-400';
---

<div class={twMerge('w-full  h-full aspect-[21/9]', outer_class)}>
    <div
        class={twMerge(
            `
        bg-space-950
        @container
        grid
        grid-rows-[auto_1fr]
        grid-cols-2
        gap-4
        p-4
        w-full
        min-h-full
        shadow-xl
        shadow-[#00000088]
        outline
        outline-1
        outline-space-800`,
            inner_class,
        )}
    >
        <FancyHeader
            class="col-span-2 col-start-1 row-start-1 mb-3 ml-auto mt-0 border-none text-fc-[0.5rem_9.5cqw_3rem] text-balance text-center"
        >
            {entry?.data.title}
        </FancyHeader>
        <div
            class="relative
                col-span-2
                row-span-1
                row-start-2
                grid
                @sm:col-span-1
                @sm:col-start-1"
        >
            <div
                class="absolute aspect-square w-full max-w-[15rem] self-center justify-self-center bg-white"
                style="clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); "
            >
            </div>
            <picture
                class={twMerge(
                    'block aspect-square  w-full max-w-[15rem] bg-black justify-self-center self-center',
                    picture_class,
                )}
                style="clip-path: polygon(50% 2%, 98% 50%, 50% 98%, 2% 50%); "
            >
            </picture>
        </div>

        <div
            class="col-span-2
            col-start-1
            grid
            h-full
            grid-rows-[3fr_auto]
            @sm:col-span-1
            @sm:col-start-2"
        >
            <section
                class=`
                prose
                prose-card
                prose-h3:font-bold
                prose-h3:text-2xl
                prose-h3:mb-1
                prose-ul:list-outside
                prose-ul:ml-4
                prose-ul:pl-0
                prose-ul:list-dist
                prose-ul:text-lg
                prose-li:mb-2
                text-lg
                 ${text_class}`
            >
                <Content />
            </section>
        </div>
        <div class="col-span-2 grid w-full grid-cols-2 gap-4 p-2 text-xl">
            <div class="capitalize">
                Status:
                <span class={status_color}>
                    {entry?.data.status}
                </span>
            </div>
            <div class="text-right text-balance">
                {entry?.data.detail}
            </div>
        </div>
    </div>
</div>
